*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/profileBackground.png);
    background-size: cover; 
    background-position: center;
    display: flex; 
    align-items: center;
    justify-content: center;  
}

.profile-container{
    background: rgb(66, 7, 66);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    width: 40%;
    flex-direction: column;
    gap: 0.5rem;
}

.profile-picture{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
    object-fit: cover;
}

.profile-container h4, h2, p{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.emloc{
    display: flex;
    gap: 0.4rem;
    font-size: 14px;
    padding-top: 0.4rem;
    position: relative;
    left: 0.5rem;
}

.pt-3{
    padding-top: 0.4rem;
}

.socials-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding-top: 0.6rem;
}

.social-links a {
    text-decoration: none;
}

